@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  input:focus {
    @apply focus:ring-0 focus:ring-offset-0 focus:border-0
  }
}

@layer components{
  /* we will explain what these classes do next! */
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
  .spinner-loading-img:before {
      content: url(/images/loading.svg);
      @apply absolute object-center scale-75 -translate-x-24 translate-y-10
  }

  .spinner-loading-img {
      text-align: center;
      padding-top: 18vh;
      @apply font-bold
  }

  .disable-default-spinner {
      display: none;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

}
.fadetransition-enter-active,
.fadetransition-leave-active {
  transition: opacity 0.2s ease;
}

.fadetransition-enter-from,
.fadetransition-leave-to {
  opacity: 0;
}